<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.FriendsMapper">
  <resultMap id="BaseResultMap" type="entity.Friends">
    <constructor>
      <idArg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="doctorId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="friendsNameUser" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="friendsNameDoc" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    userId, doctorId, friendsNameUser, friendsNameDoc
  </sql>
  <insert id="insertSelective" parameterType="entity.Friends">
    insert into friends
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="doctorid != null">
        doctorId,
      </if>
      <if test="friendsnameuser != null">
        friendsNameUser,
      </if>
      <if test="friendsnamedoc != null">
        friendsNameDoc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="friendsnameuser != null">
        #{friendsnameuser,jdbcType=VARCHAR},
      </if>
      <if test="friendsnamedoc != null">
        #{friendsnamedoc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Friends">
    update friends
    <set>
      <if test="friendsnameuser != null">
        friendsNameUser = #{friendsnameuser,jdbcType=VARCHAR},
      </if>
      <if test="friendsnamedoc != null">
        friendsNameDoc = #{friendsnamedoc,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
      and doctorId = #{doctorid,jdbcType=INTEGER}
  </update>

</mapper>